/* creating variables for styles */
:root {
  /* Primary colors */
  --Dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);

  /* Nuetral colors */
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);

  /* Below is the typography to be used */

  /* Body copy */
  --paragraph: 14px;

  /* fonts - will have google fonts links in html */
  --general: "Montserrat", sans-serif; /*will have 500 & 700 weights */

  --fancy: "Fraunces", serif; /*will have weight a of 700 */
}

/* resetting the body's rules and adding a background color. */
body {
  padding: 0;
  box-sizing: border-box;
  background-color: var(--cream);
}

/* Setting styles to the h1 tag. Included variables from the root. */
h1 {
  font-family: var(--general);
  font-weight: 500;
  font-size: 14px;
  color: var(--Dark-grayish-blue);
  margin-bottom: 0;
  letter-spacing: 0.3rem;
}

/* Setting styles to the h2 tag. Included variables from the root. */
h2 {
  font-family: var(--fancy);
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 0;
  margin-top: 5px;
}

/* used to control a specific text inside of the <p> that lists pricing. */
em {
  text-decoration: line-through;
  font-style: normal;
}

/* Set basic styles to all <p>. Uses variables from the root. */
p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: var(--general);
  font-size: var(--paragraph);
  font-weight: 500;
}

/* used to control a specific text inside of the <p> that lists pricing. Uses variables from the root. */
strong {
  margin-right: 10px;
  font-family: var(--fancy);
  font-weight: 700;
  color: var(--Dark-cyan);
  font-size: 30px;
}

/* Adding styles to the cart button. Uses variables from the root. */
button {
  border: none;
  border-radius: 8px;
  width: 70%;
  font-size: 15px;
  text-align: center;
  color: var(--white);
  background-color: var(--Dark-cyan);
  height: 40px;
}

/* Controls styling of the button's background color when a user hovers over it. Uses variables from the root. */
button:hover {
  background-color: var(--Very-dark-blue);
}

/* Placing a margin on the right side of the shopping cart svg inside of the cart button. */
.svg {
  margin-right: 10px;
}

/* Setting basic styles to main container. */
.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

/* Setting more restrictive rules to the sub-container. */
.content {
  display: flex;
  width: 45%;
  margin-top: 10%;
}

/* Basic styles for the left side of the content. */
.card1 {
  display: flex;
}

/* More specific styling to the left side of the content. */
.card1 img {
  width: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

/* General Layout for the right side of the content. */
.card2 {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: var(--white);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* Styles the product description separate from the other <p>. */
.text {
  font-family: var(--general);
  font-weight: 500;
  color: var(--Dark-grayish-blue);
  font-size: 27px;
}

/* Adding rules for the mobile version of the challenge. */
@media only screen and (max-width: 376px) {
  /* Adjusting the main container to appear vertically. */
  .content {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  /* slight changes to height and which corners are rounded. */
  .card1 img {
    height: 350px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
  }

  /* slight changes to width and which corners are rounded. */
  .card2 {
    width: 88%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 0;
  }

  /* Adjusting product name sizing. */
  h2 {
    font-size: 30px;
  }

  /* Adjusting product description text size and margin. */
  .text {
    font-size: 14px;
    margin-bottom: 0;
  }

  /* Adjusting the main layout of the button itself */
  button {
    width: 100%;
    height: 50px;
  }
}
