/* creating variables for styles */
:root {
  /* Primary colors */
  --Dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);

  /* Nuetral colors */
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);

  /* Below is the typography to be used */

  /* Body copy */
  --paragraph: 14px;

  /* fonts - will have google fonts links in html */
  --general: "Montserrat", sans-serif; /*will have 500 & 700 weights */

  --fancy: "Fraunces", serif; /*will have weight a of 700 */
}

/* resetting the body's rules and adding a background color. */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--cream);
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  margin: 0;
  font-family: var(--fancy);
  color: var(--Very-dark-blue);
  font-weight: 700;
  font-size: 37px;
}

h2 {
  margin-top: 30px;
  font-family: var(--general);
  color: var(--Dark-grayish-blue);
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.5em;
}

p {
  margin: 0;
  font-family: var(--general);
  font-size: var(--paragraph);
  font-weight: 500;
  color: var(--Dark-grayish-blue);
  line-height: 1.5em;
}

strong {
  font-family: var(--fancy);
  font-weight: 700;
  font-size: 30px;
  color: var(--Dark-cyan);
  margin-right: 10px;
}

button {
  display: block;
  width: 80%;
  margin-top: 10px;
  height: 40px;
  border-radius: 5px;
  border-color: var(--Dark-cyan);
  background-color: var(--Dark-cyan);
  text-align: center;
  color: var(--white);
  font-family: var(--general);
  font-weight: 700;
}

footer {
  position: absolute;
  margin-top: 690px;
  margin-bottom: 0;
  font-size: 12px;
}

.container1 {
  background-image: url(/image-product-desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.container2 {
  background-color: var(--white);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.container2 h1,
h2,
p,
strong,
button {
  margin-left: 30px;
  margin-bottom: 8px;
}

.container1,
.container2 {
  height: 400px;
  width: 300px;
}

.sr-only {
  display: none;
}

.svg {
  margin-right: 10px;
}

@media only screen and (max-width: 601px) {
  main {
    flex-direction: column;
  }

  .container1 {
    background-image: url(/image-product-mobile.jpg);
    height: 300px;
    margin-top: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
  }

  .container2 {
    margin-bottom: 10px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

